

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto+Slab:wght@100..900&display=swap');





*{
    margin: 0;
    padding: 0;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
   
}
.play {
    position: absolute;
    right: 7%;
    bottom: -130px;
    opacity: 1;
    transition: ease-in;
}
body {
    background-color: rgb(8, 8, 8);
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
}

.left {
    width: 25vw;
    padding: 10px;
    
}

.right {
    width: 75vw;
    position: relative;
}

    

.border {
    
}

ul {
    list-style: none;
    padding: 0;
}


.home{
    
}

.home ul li{
    display: flex;
    gap: 14px;
    width: 15px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading{
    display: flex;
    gap: 14px;
    width: 70%;
    list-style: none;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}
.heading img{
    width: 25px;
}

.library{
    min-height:80vh ;
    position: relative;
}


.footer{
    display: flex;
    font-size: 10px;
    color: gray;
    gap: 13px; 
    position: absolute;
    bottom: 0;
    padding: 8px;
    
}

.footer a{
    color: gray;


    .right{

        margin: 16px 0px;

    }
    
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: rgb(34, 34, 34);



}


c{
    padding: 16px;
}

.header > *{
    padding: 3px;
}
.signal{
    position: relative;
    left: 34px;
    margin: 10px;
    border: 0px solid rgb(11, 11, 11);
    background-color: rgb(15, 15, 15);
    color: white;
    border-radius: 21px;
    font-weight: 700;
    font-size: larger;
    cursor: pointer;
    width: 79px;

    
}
.signal :hover{
    border: 4px solid gray;
    border-radius: 17px;
    background-color: rgb(34, 34, 34)
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    

}

.logins{
    position: relative;
    right: 13%;
    border: 0px solid rgb(11, 11, 11);
    background-color: rgb(22, 22, 22);
    color: rgb(246, 242, 242);
    border-radius: 21px;
    width: 79px;
    font-weight: 700;
    font-size: larger;
    margin: 7px;
     bottom:  -2px ;
     cursor: pointer;
    

}
.logins:hover{
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}



.cardcontainer{
    overflow-y: scroll;
    max-height: 70vh;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    gap:10px
    
   
    


}
.card:hover{
    background-color: hotpink ;
    cursor: pointer;
}

.spotif-playlist .card {

    border-radius: 5px;
    position: relative;
    background-color: #252525;
    padding: 10px;
    width:220px
    
    
    
    
}
.card > *{
    padding-top: 10px;
}

.card img{
    width: 100%;
    object-fit: contain;
    
    
}



.arrow1{
    position: relative;
    right: 30px;
    bottom: -9px;
}
.arrow2{
    position: relative;
    right: 30px;
    bottom: -9px;
}


.playbar{
    position: fixed;
    bottom: 8px;
    width: 100%;
    padding: 11px;
    background-color: rgb(45, 46, 45);
    width: 75vw;
    border-radius: 30px;
    height: 35px;
}

.songbutton{
    display: flex;
    justify-content: center;
    gap: 13px;
    position: relative;
    right: 5px;
}
.songlist ul {
    padding: 0 13px;
     
    
}
.songlist ul li{
    list-style-type: decimal;
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0;
  border: 1px solid white;
  
  padding: 13px;
  margin: 6px 0;
  border-radius: 5px;
}

.playnow{
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.playnow span{
    font-size:15px ;
    width: 40px;
    
  
}

.songlist{
    height:344px ;
    overflow: auto;
    margin-bottom: 44px ;
   
    
}
.hambruger{
    display: none;
}
.hambrugercont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px
}
.seekbar{
    height: 4px;
    width: 98%;
    background: rgb(175, 170, 170);
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    margin: 7px;
    cursor: pointer;
}

.cricle{
    width: 20px;
    height: 20px;
    border-radius: 12px;
    background-color: #c6c5c5;
    position: relative;
    bottom: 11px;
    transition: left 0.5;
}
.songbutton img{
    cursor: pointer;

}
.songtime{
    position: relative;
    right: 20%;

}
.info div{
    word-break: break-all;

}

.songinfo .songtime {
    color: rgb(9, 9, 9);
    padding: 0px 12px;
    width:200px ;
    
   

}

.abovebar{
    display: flex;
    justify-content: space-between;
}



@media (max-width:1200px) {
    .left {
      
        background-color: 
        left: -100%;
        transition: all 3s;
        z-index: 1;
        width: 233px;
        padding: 0px;
    }
    .right{
        width: 100vw;
    }
    .playbar{
        width: 95%;
    }
    .hambruger{
        display: block;
    }
    
}